<ion-view title="Category Events" id="page12">
  <ion-content padding="false" class="has-header">
    <h3 id="categoryEvents-heading2" style="color:#000000;">Events in {{category}} category</h3>
    <ion-list id="categoryEvents-list10">
      <ion-item class="item-avatar" id="categoryEvents-list-item8" ui-sref="menu.eventDetails({&quot;eventName&quot;:&quot;&quot;+event.eventName+&quot;&quot;})" ng-repeat="event in events">
        <img src="img/sue7MYTjuS3db8AHFYhg_1-streetview_png.jpg">
        <h2>{{event.eventName}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>