<ion-view title="EventDetails" id="page11">
  <ion-content padding="false" class="has-header">
    <h1 id="eventDetails-heading1" style="color:#000000;">{{eventDetails.eventName}}</h1>
    <ion-list id="eventDetails-list9">
      <ion-item id="eventDetails-list-item13">{{eventDetails.location}}</ion-item>
      <ion-item id="eventDetails-list-item16">{{eventDetails.description}}</ion-item>
      <ion-item id="eventDetails-list-item14">{{eventDetails.time}}</ion-item>
      <ion-item id="eventDetails-list-item15">{{eventDetails.category}}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>