<ion-view>
    <ion-content>
        <div ng-controller="loginCtrl">
        <label class="item item-input" id="login-input1">
            <input type="email" placeholder="Enter Email address" ng-model="email">
        </label>
        <label class="item item-input" id="login-input2">
            <input type="password" placeholder="Enter Password" ng-model="password">
        </label>
        </ion-list>
        <button type="submit" name="login" ng-click="doLogin()" class="button button-assertive center">Login</button>
        </div>
        <a ui-sref="signup" class="button button-assertive button-block button-clear">Or create an account</a> </ion-content>
</ion-view>
