<ion-view title="Registered Event Details" id="page9">
  <ion-content padding="false" class="has-header">
    <h3 id="registeredEventDetails-heading3" style="color:#000000;">Event Name: {{eventDetails.eventName}}</h3>
    <ion-list id="registeredEventDetails-list11">
      <ion-item id="registeredEventDetails-list-item11">Category: {{eventDetails.category}}</ion-item>
      <ion-item id="registeredEventDetails-list-item17" class="item-text-wrap">Description: {{eventDetails.description}}</ion-item>
      <ion-item id="registeredEventDetails-list-item18">Date: {{eventDetails.date|date: 'dd MMMM yyyy'}}</ion-item>
      <ion-item id="registeredEventDetails-list-item19">Time: {{eventDetails.time}}</ion-item>
      <ion-item id="registeredEventDetails-list-item20">Address: {{eventDetails.address}}</ion-item>
      <ion-item id="registeredEventDetails-list-item21">Location: {{eventDetails.location}}</ion-item>
    </ion-list>
    <div id="registeredEventDetails-button-bar2" class="button-bar"></div>
  </ion-content>
</ion-view>