<ion-view title="Signup" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="signup-form2" class="list">
      <ion-list id="signup-list3">
        <label class="item item-input" id="signup-input3">
          <input type="text" placeholder="Enter Your Name">
        </label>
        <label class="item item-input" id="signup-input4">
          <input type="email" placeholder="Enter Your Email">
        </label>
        <label class="item item-input" id="signup-input5">
          <input type="text" placeholder="Enter your password">
        </label>
        <label class="item item-input" id="signup-input11">
          <input type="text" placeholder="Enter the mobile number">
        </label>
      </ion-list>
      <a ui-sref="menu.login()" id="signup-button3" class="button button-assertive button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>