<ion-view title="Create an event" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="createAnEvent-form3" class="list">
      <ion-list id="createAnEvent-list4">
        <label class="item item-input" id="createAnEvent-input6">
          <input type="text" placeholder="Name of the event">
        </label>
        <label class="item item-input" id="createAnEvent-input7">
          <input type="email" placeholder="Description">
        </label>
        <label class="item item-input" id="createAnEvent-input8">
          <input type="text" placeholder="Location ">
        </label>
        <label class="item item-input" id="createAnEvent-input9">
          <input type="text" placeholder="Category">
        </label>
        <label class="item item-input" id="createAnEvent-input12">
          <input type="text" placeholder="Time">
        </label>
        <label class="item item-input" id="createAnEvent-input10">
          <input type="text" placeholder="Max Attendees">
        </label>
      </ion-list>
      <button id="createAnEvent-button4" class="button button-stable  button-block">Create</button>
    </form>
  </ion-content>
</ion-view>