<ion-view title="Login" id="page4" ng-app="app1" ng-model="model1">
  <ion-content padding="true" class="has-header">
    <form id="login-form1" class="list">
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1">
          <input type="email" placeholder="Enter Email address" ns-model="email">
        </label>
        <label class="item item-input" id="login-input2">
          <input type="password" placeholder="Enter Password" ns-model="password">
        </label>
      </ion-list>
      <button id="login-button1" ns-click="login-click" class="button button-assertive  button-block">Log in</button>
      <a ui-sref="menu.signup" id="login-button2" class="button button-assertive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>