<ion-view title="Select Location" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="selectLocation-form4" class="list">
      <ion-checkbox id="selectLocation-checkbox1">Select All</ion-checkbox>
      <ion-checkbox id="selectLocation-checkbox2">East SanJose</ion-checkbox>
      <ion-checkbox id="selectLocation-checkbox3">West SanJose</ion-checkbox>
      <ion-checkbox id="selectLocation-checkbox4">North SanJose</ion-checkbox>
      <ion-checkbox id="selectLocation-checkbox5">South SanJose</ion-checkbox>
    </form>
  </ion-content>
</ion-view>