<ion-view title="View Events" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-list id="viewEvents-list6">
      <ion-item class="item-thumbnail-left" id="viewEvents-list-item8">
        <img src="img/f59B1BS1RZq7G5FBTqPu_111337199_3d6a51545e_z.jpg">
        <h2>Trek in Sunol</h2>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="viewEvents-list-item9">
        <img src="img/BW28z0RDR3nEjDKpBsUj_run.jpg">
        <h2>SanJose 5k Run</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>